html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #FFF;
    overflow-x: hidden;
    font-family: Raleway, sans-serif;
}

header {
    padding: .5em 3em;
    font-size: 2em;
    text-align: center;
}

header h1 {
    font-family: Pacifico, cursive;
}

header p {
    line-height: 1em;
}

header .line {
    margin: 2em auto 1em;
    width: 4em;
    border-bottom-style: double;
}

.wrapper {
    max-width: 75em;
    margin: 0 auto;
}

.main {
    padding: 0 4em;
}

section .btn-primary {
    font-size: 1.5em;
}

#how-it-works {
    padding: 0 0 4em;
    text-align: center;
}

#how-it-works .btn-subscribe {
    margin-top: 2em;
}

#container-breadcrumbs {
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
}
.checkout-step div {
    padding-bottom: 1em;
}
.checkout-step.active div {
    border-bottom: 3px solid #666;
}

#container-checkout-summary p {
    border: 3px double #333;
    padding: 1em;
    margin-bottom: 2em;
    font-size: 1.5em;
    color: #333;
    font-weight: 400;
}

/* Form */
.form-horizontal .form-group {
    margin: 0;
}
.form-control, .form-group .form-control {
    border: 1px solid #CCC;
    border-radius: 2px;
    padding: .5em .75em;
    font-size: 1.25em;
    height: auto;
    background-color: #FFF;
}
.cbp-so-scroller .form-control {
    font-size: 1.25em;
}
.form-group .form-control::-moz-placeholder {
    font-size: 1em;
}
.form-group .form-control:-ms-input-placeholder {
    font-size: 1em;
}
.form-group .form-control::-webkit-input-placeholder {
    font-size: 1em;
}
.form-group label.control-label {
    font-size: 1.25em;
    font-weight: 800;
    margin: .5em 0;
    color: #333;
}
.form-group.is-focused .form-control {
    background-image: linear-gradient(#333, #333), linear-gradient(#D2D2D2, #D2D2D2)
}
.form-group.is-focused label, .form-group.is-focused label.control-label {
    color: #333;
}
.checkbox label, .radio label, label {
    font-size: 1.25em;
    color: #333;
}
.form-group .checkbox label, .form-group .radio label, .form-group label {
    font-size: 1.25em;
    text-align: left;
    color: #333;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check {
    background: #333;
    border-color: #333;
    border-radius: 2px;
}
.radio input[type=radio]:checked ~ .check {
    background-color: #333;
}
.radio input[type=radio]:checked ~ .circle {
    border-color: #333;
}
.radio label {
    padding-left: 25px;
}
.radio label span {
    left: 0;
}
.form-horizontal .radio {
    margin-bottom: 0;
}

.form-navigation {
    padding: 1em 0;
}

.form-navigation .btn-primary {
    float: right;
}

#billing-address-fields {
    margin-top: 2em;
}

.btn {
    font-size: 1.25em;
}
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
    background-color: #e23e1e;
}
.btn.btn-link,
.btn.btn-link:hover,
.btn.btn-link:focus,
.btn.btn-link:active,
.btn.btn-link:active:focus,
.btn.btn-link:active:hover {
    background-color: transparent;
    box-shadow: none;
    color: #333;
}
.btn.btn-loading {
    background-image: url(/img/ring.svg);
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 1.5em;
    padding-right: 15%;
}

#recap-shipping-address, #checkout-result {
    font-size: 1.5em;
    line-height: 1.25em;
}

#form-notify-me {
    margin-top: 3em;
}
#notify-me-result {
    margin-top: 3em;
    color: #e23e1e;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */
.hidden {
    display: none !important;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   http://tympanus.net/Blueprints/OnScrollEffectLayout/
   ========================================================================== */

.cbp-so-section {
    margin: 0 0 4em;
    position: relative;
}

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
    content: " ";
    display: table;
}

.cbp-so-section:after {
    clear: both;
}

/* Text styling */
h2 {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    line-height: 1.25em;
}

h3, h4 {
    font-family: Raleway, sans-serif;
}

.cbp-so-scroller h2 {
    font-size: 4em;
    line-height: 1;
    margin: .25em 0;
}

.cbp-so-section p {
    font-size: 1.75em;
    font-weight: 300;
    line-height: 1.25em;
}

#how-it-works h2 {
    text-align: center;
    margin-bottom: .75em;
}

/* Sides */
.cbp-so-side {
    float: left;
    margin: 0;
    overflow: hidden;
    min-height: 12em;
}

figure.cbp-so-side {
    width: 60%;
    padding: 0;
}
article.cbp-so-side {
    width: 40%;
    padding: 4em 4%;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
    content: " ";
    display: table;
}

.cbp-so-side:after {
    clear: both;
}

.cbp-so-side-right {
    text-align: left;
}

.cbp-so-side-left {
    text-align: right;
}

.cbp-so-side img {
    max-width: 100%;
}

.cbp-so-side-right img {
    float: left;
}

.cbp-so-side-left img {
    float: right;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
    opacity: 0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.cbp-so-init .cbp-so-side-left {
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

/* For example, add a delay for the right side:
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
*/

/* Columns */
.column {
    display: inline-block;
    vertical-align: top;
}
.col-3 .column {
    padding: 0 1%;
    width: 33%;
    text-align: center;
}
.col-3 .column h3 {
    padding: .5em .25em;
    font-size: 2.5em;
    line-height: 1;
    min-height: 3em;
}
.col-3 .column p {
    padding: 0 .25em;
    font-size: 1.5em;
    line-height: 1;
}
.icon {
    border-bottom: 1px solid #333;
    display: block;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 4em;
    line-height: 2em;
    margin: 0 auto;
    text-align: center;
    width: 2em;
}


/* Checkout section */
.checkout {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    width: 0;
    height: 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.checkout.checkout--active {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.checkout__button {
    position: relative;
    z-index: 10;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.checkout--active .checkout__button {
    cursor: default;
    -webkit-transform: translate3d(-490%, 0, 0);
    transform: translate3d(-490%, 0, 0);
}

.checkout__button:focus {
    outline: none;
}

.checkout__text {
    display: block;
    padding: 0.8em 0 0;
    color: #fff;
    font-weight: 400;
    font-size: 1.25em;
}

.checkout__icon {
    display: block;
    margin: 0 auto;
}

.checkout__order {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    max-width: 100vw;
    width: 25em;
    text-align: right;
    pointer-events: none;
}

.checkout--active .checkout__order {
    pointer-events: auto;
}

.checkout__order::before {
    content: '';
    background-color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(100%, -100%, 0) translate3d(0, 0, 0);
    transform: translate3d(100%, -100%, 0) translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    border-left: 7px solid #333;
    border-bottom: 7px solid #333;
}

.checkout--active .checkout__order::before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.checkout__order-inner {
    position: relative;
    padding: 1.5em 1.9em 2em;
    opacity: 0;
}

.checkout--active .checkout__order-inner {
    opacity: 1;
    -webkit-transition: opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transition: opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
}

.checkout__order-inner h2 {
    font-family: Pacifico, cursive;
    text-align: center;
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}

.checkout--active .checkout__order-inner h2 {
    font-family: Pacifico, cursive;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
}

.btn-checkout-close {
    position: absolute;
    font-size: 1.5em;
    top: 1em;
    right: 1.5em;
    width: 20px;
    height: 20px;
    border: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
    backface-visibility: hidden;
}

.btn-checkout-close:focus {
    outline: none;
}

.checkout--active .btn-checkout-close {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    -webkit-transition-delay: 0.015s;
    transition-delay: 0.015s;
}

.checkout__summary {
    margin: 0.75em 0;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85em;
    line-height: 1.5;
}

.checkout__summary tr {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}

.checkout--active .checkout__summary tr {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
}

.checkout--active .checkout__summary tbody tr:nth-child(1) {
    -webkit-transition-delay: 0.015s;
    transition-delay: 0.015s;
}

.checkout--active .checkout__summary tbody tr:nth-child(2) {
    -webkit-transition-delay: 0.03s;
    transition-delay: 0.03s;
}

.checkout--active .checkout__summary tbody tr:nth-child(3) {
    -webkit-transition-delay: 0.045s;
    transition-delay: 0.045s;
}

.checkout--active .checkout__summary tbody tr:nth-child(4) {
    -webkit-transition-delay: 0.06s;
    transition-delay: 0.06s;
}

.checkout--active .checkout__summary tbody tr:nth-child(5) {
    -webkit-transition-delay: 0.075s;
    transition-delay: 0.075s;
}

.checkout--active .checkout__summary tbody tr:nth-child(6) {
    -webkit-transition-delay: 0.09s;
    transition-delay: 0.09s;
}

.checkout--active .checkout__summary tfoot tr {
    -webkit-transition-delay: 0.105s;
    transition-delay: 0.105s;
}

.checkout__summary thead th,
.checkout__summary tfoot th {
    line-height: 2.5;
}

.checkout__total {
    margin-left: .25em;
}

.checkout__summary tbody tr:first-child td {
    padding-top: 0.5em;
}

.checkout__summary tbody td {
    padding: 0.25em 0;
    font-size: 0.85em;
    vertical-align: top;
}

.checkout__summary tbody td:last-child,
.checkout__summary .checkout__total {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.checkout__summary th:last-child,
.checkout__summary td:last-child {
    text-align: right;
}

.checkout .btn {
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
    font-size: .75em;
}

.checkout--active .btn {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    -webkit-transition-delay: 0.18s;
    transition-delay: 0.18s;
}

.checkout .radio {
    margin: 0 0 .5em;
}
.checkout .radio label {
    font-size: 1em;
}
.checkout .radio label .circle {
    border-color: #333;
}
.checkout .radio input[type=radio]:checked ~ .circle {
    border-color: #333;
}
.checkout .radio input[type=radio]:checked ~ .check {
    background-color: #333;
}
.checkout .radio label span {
    top: 6px;
}

@media screen and (max-width: 64em) {
    .cbp-so-scroller h2 {
        font-size: 3em;
    }
    .cbp-so-section p {
        font-size: 1.5em;
    }
    section .btn-primary {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 48em) {
    .main {
        padding: 0 1em;
    }
    .checkout-step div {
        padding: 1em 0;
    }
    .checkout-step.active div {
        border: 3px solid #666;
        background-color: #EEE;
        padding: 1em;
    }
    .form-navigation {
        text-align: center;
    }
    .form-navigation .btn {
        width: 100%;
    }
    .form-navigation .btn-primary {
        float: none;
    }
    #container-checkout-summary p {
        margin-bottom: 1em;
    }
    .column {
        display: block;
        width: 100% !important;
    }
    .icon {
        font-size: 3em;
    }
    .checkout__order {
        font-size: 80%;
    }
    .col-3 .column {
        padding-bottom: 1em;
    }
    .col-3 .column h3 {
        margin-top: 0;
        padding: .5em;
        font-size: 2.5em;
        min-height: initial;
    }
    .cbp-so-section {
        margin: 0;
    }
    #how-it-works h2 {
        margin: 1.5em 0 .5em;
    }
    .cbp-so-side {
        float: none;
    }

    figure.cbp-so-side {
        width: 100%;
        padding: 0 4%;
    }

    article.cbp-so-side {
        width: 100%;
        text-align: center;
        padding: 2em 4%;
    }
}

@media screen and (max-width: 38em) {
    header {
        padding: 0 1em;
    }
    header h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    .checkout__order {
        font-size: 60%;
    }
    .checkout .btn {
        width: 100%;
    }
}

@media screen and (max-width: 23em) { 
    .checkout__order {
        font-size: 50%;
    }
}