html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #FFF;
    overflow-x: hidden;
}

/*
.navbar {
    margin: 0;
    background-color: #67d967;
}
*/

header {
    padding: .5em 13em 1.5em 3em;
    font-size: 2em;
}

/*
header .btn-subscribe {
    position: absolute;
    top: 1.5em;
    right: 3em;
    font-size: 1em;
    display: none;
}
body[data-page="home"] header .btn-subscribe {
    display: block;
}
*/

@media screen and (max-width: 64em) {
    header {
        padding-right: 3em;
    }
    header .btn-subscribe {
        position: static;
    }
}

.main {
    padding: 0 6em;
}

section {
    padding: 0 0 8em;
}

section.color {
    background-color: #e5f8e5;
}

section .btn-primary {
    font-size: 2em;
}

#container-breadcrumbs {
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
}
.checkout-step div {
    padding-bottom: 1em;
}
.checkout-step.active div {
    font-weight: 400;
    border-bottom: 3px solid #666;
}

#container-checkout-summary p {
    border: 3px solid #b6edb6;
    background-color: #e5f8e5;
    padding: 1em;
    margin-bottom: 2em;
    font-size: 1.5em;
    color: #67d967;
    font-weight: 400;
}

/* Form */
.form-horizontal .form-group {
    margin: 0;
}
.form-control, .form-group .form-control {
    border: 1px solid #CCC;
    border-radius: 2px;
    padding: .5em .75em;
    font-size: 1.25em;
    height: auto;
    background-color: #FFF;
}
.cbp-so-scroller .form-control {
    font-size: 2em;
}
.form-group .form-control::-moz-placeholder {
    font-size: 1em;
}
.form-group .form-control:-ms-input-placeholder {
    font-size: 1em;
}
.form-group .form-control::-webkit-input-placeholder {
    font-size: 1em;
}
.form-group label.control-label {
    font-size: 1.25em;
    font-weight: 800;
    margin: .5em 0;
}
.form-group.is-focused .form-control {
    background-image: linear-gradient(#67d967, #67d967), linear-gradient(#D2D2D2, #D2D2D2)
}
.form-group.is-focused label, .form-group.is-focused label.control-label {
    color: #67d967;
}
.checkbox label, .radio label, label {
    font-size: 1.25em;
}
.form-group .checkbox label, .form-group .radio label, .form-group label {
    font-size: 1.25em;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check {
    background: #67d967;
    border-color: #67d967;
    border-radius: 2px;
}
.radio input[type=radio]:checked ~ .check {
    background-color: #67d967;
}
.radio input[type=radio]:checked ~ .circle {
    border-color: #67d967;
}
.radio label {
    padding-left: 25px;
}
.radio label span {
    left: 0;
}
.form-horizontal .radio {
    margin-bottom: 0;
}

.form-navigation {
    padding: 1em 0;
}

.btn {
    font-size: 1.25em;
}
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
    background-color: #67d967;
}
.btn.btn-link,
.btn.btn-link:hover,
.btn.btn-link:focus,
.btn.btn-link:active,
.btn.btn-link:active:focus,
.btn.btn-link:active:hover {
    background-color: transparent;
    box-shadow: none;
}

#recap-shipping-address, #checkout-result {
    font-size: 1.5em;
    line-height: 1.25em;
}

#form-notify-me {
    margin-top: 3em;
}
#notify-me-result {
    margin-top: 3em;
    color: #67d967;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */
.hidden {
    display: none !important;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   http://tympanus.net/Blueprints/OnScrollEffectLayout/
   ========================================================================== */
.cbp-so-scroller {
    margin-top: 6em;
}

.cbp-so-section {
    /*margin-bottom: 15em;*/
    position: relative;
}

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
    content: " ";
    display: table;
}

.cbp-so-section:after {
    clear: both;
}

/* Text styling */
.cbp-so-section h2 {
    font-size: 6em;
    font-weight: 300;
    line-height: 1;
    margin: .25em 0;
}

.cbp-so-section p {
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1;
}

/* Sides */
.cbp-so-side {
    width: 50%;
    float: left;
    margin: 0;
    padding: 3em 4%;
    overflow: hidden;
    min-height: 12em;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
    content: " ";
    display: table;
}

.cbp-so-side:after {
    clear: both;
}

.cbp-so-side-right {
    text-align: left;
}

.cbp-so-side-left {
    text-align: right;
}

.cbp-so-side img {
    max-width: 120%;
}

.cbp-so-side-right img {
    float: left;
}

.cbp-so-side-left img {
    float: right;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
    opacity: 0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.cbp-so-init .cbp-so-side-left {
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

/* For example, add a delay for the right side:
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
*/

@media screen and (max-width: 73.5em) {
    .cbp-so-scroller {
        font-size: 65%;
    }

    .cbp-so-section h2 {
        margin: 0;
    }

    .cbp-so-side img {
        max-width: 120%;
    }
}

@media screen and (max-width: 41.125em) {
    .cbp-so-side {
        float: none;
        width: 100%;
    }

    .cbp-so-side img {
        max-width: 100%;
    }
}

/* Section separators */
#stamp {
    background-color: #e5f8e5;
}
#stamp path {
    fill: #FFFFFF;
    stroke: #FFFFFF; /* avoid gap in FF */
}
.ss-style-doublediagonal {
    z-index: 1;
    position: relative;
    padding: 4em 0;
    margin-bottom: -3em;
}
.ss-style-doublediagonal.color {
    background-color: #e5f8e5;
    padding: 4em 0;

}
.ss-style-doublediagonal::before,
.ss-style-doublediagonal::after {
    position: absolute;
    content: '';
    pointer-events: none;
    top: 0;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 75%;
    background: #FFF;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.ss-style-doublediagonal.color::after {
    background-color: #e5f8e5;
}
.ss-style-doublediagonal::before {
    height: 50%;
    background: #b6edb6;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
}

/* Columns */
.column {
    display: inline-block;
    vertical-align: top;
}
.col-3 .column {
    padding: 0 1%;
    width: 33%;
    text-align: center;
}
.col-3 .column h3 {
    padding: 20px;
    font-size: 4em;
    line-height: 1;
}
.col-3 .column p {
    padding: 0 20px;
    font-size: 2em;
    line-height: 1;
}
.icon {
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: #b6edb6;
    color: #fff;
    text-align: center;
    font-size: 8em;
    line-height: 2em;
    margin: 0 auto;
}
@media screen and (max-width: 54em) {
    .column {
        display: block;
        width: 100% !important;
    }
    .icon {
        margin: 0 auto;
    }
}



/* Checkout section */
.checkout {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    width: 0;
    height: 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.checkout.checkout--active {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.checkout__button {
    position: relative;
    z-index: 10;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.checkout--active .checkout__button {
    cursor: default;
    -webkit-transform: translate3d(-490%, 0, 0);
    transform: translate3d(-490%, 0, 0);
}

.checkout__button:focus {
    outline: none;
}

.checkout__text {
    display: block;
    padding: 0.8em 0 0;
    color: #fff;
    font-weight: 400;
    font-size: 1.25em;
}

.checkout__icon {
    display: block;
    margin: 0 auto;
}

.checkout__order {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    max-width: 100vw;
    width: 25em;
    text-align: right;
    pointer-events: none;
}

.checkout--active .checkout__order {
    pointer-events: auto;
}

.checkout__order::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b6edb6;
    -webkit-transform: translate3d(100%, -100%, 0) translate3d(0, 0, 0);
    transform: translate3d(100%, -100%, 0) translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    border-left: .5em solid #fff;
    border-bottom: .5em solid #fff;
}

.checkout--active .checkout__order::before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.checkout__order-inner {
    position: relative;
    padding: 2em 1.9em;
    opacity: 0;
}

.checkout--active .checkout__order-inner {
    opacity: 1;
    -webkit-transition: opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transition: opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
}

.btn-checkout-close {
    position: absolute;
    font-size: 1.5em;
    top: 1em;
    right: 1.5em;
    width: 20px;
    height: 20px;
    border: none;
    background: transparent;
    color: #FFF;
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
    backface-visibility: hidden;
}

.btn-checkout-close:focus {
    outline: none;
}

.checkout--active .btn-checkout-close {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    -webkit-transition-delay: 0.015s;
    transition-delay: 0.015s;
}

.checkout__summary {
    margin: 2.5em 0 0.75em;
    width: 100%;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85em;
    line-height: 1.5;
}

.checkout__summary tr {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}

.checkout--active .checkout__summary tr {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
}

.checkout--active .checkout__summary tbody tr:nth-child(1) {
    -webkit-transition-delay: 0.015s;
    transition-delay: 0.015s;
}

.checkout--active .checkout__summary tbody tr:nth-child(2) {
    -webkit-transition-delay: 0.03s;
    transition-delay: 0.03s;
}

.checkout--active .checkout__summary tbody tr:nth-child(3) {
    -webkit-transition-delay: 0.045s;
    transition-delay: 0.045s;
}

.checkout--active .checkout__summary tbody tr:nth-child(4) {
    -webkit-transition-delay: 0.06s;
    transition-delay: 0.06s;
}

.checkout--active .checkout__summary tbody tr:nth-child(5) {
    -webkit-transition-delay: 0.075s;
    transition-delay: 0.075s;
}

.checkout--active .checkout__summary tbody tr:nth-child(6) {
    -webkit-transition-delay: 0.09s;
    transition-delay: 0.09s;
}

.checkout--active .checkout__summary tfoot tr {
    -webkit-transition-delay: 0.105s;
    transition-delay: 0.105s;
}

.checkout__summary thead th,
.checkout__summary tfoot th {
    color: #67d967;
    line-height: 2.5;
}

.checkout__total {
    color: #fff;
    margin-left: .25em;
}

.checkout__summary tbody tr:first-child td {
    padding-top: 0.5em;
}

.checkout__summary tbody td {
    padding: 0.25em 0;
    font-weight: 700;
    font-size: 0.85em;
    vertical-align: top;
}

.checkout__summary tbody td:last-child,
.checkout__summary .checkout__total {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.checkout__summary th:last-child,
.checkout__summary td:last-child {
    text-align: right;
}

.checkout .btn {
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
    font-size: .75em;
}

.checkout--active .btn {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    -webkit-transition-delay: 0.18s;
    transition-delay: 0.18s;
}

@media screen and (max-width: 26em) { 
    .checkout--active .btn {
        cursor: default;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.checkout .radio {
    margin: 0 0 .5em;
}
.checkout .radio label {
    color: #fff;
    font-size: 1em;
}
.checkout .radio label .circle {
    border-color: #fff;
}
.checkout .radio input[type=radio]:checked ~ .circle {
    border-color: #67d967;
}
.checkout .radio input[type=radio]:checked ~ .check {
    background-color: #67d967;
}
.checkout .radio label span {
    top: 6px;
}