html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #FFF;
    overflow-x: hidden;
}

/*
.navbar {
    margin: 0;
    background-color: #e91e63;
}
*/

header {
    /*background-image: url("../img/banner.jpg");*/
    /*height: 100vh;*/
    padding: .5em 13em 1.5em 3em;
    font-size: 2em;
}

header .btn-subscribe {
    position: absolute;
    top: 1.5em;
    right: 3em;
    font-size: 1em;
}

@media screen and (max-width: 64em) {
    header {
        padding-right: 3em;
    }
    header .btn-subscribe {
        position: static;
    }
}

section {
    padding: 0 0 8em;
}

section.color {
    background-color: #e5f8e5;
}

section .btn-subscribe {
    font-size: 2em;
}

/* Form */
.form-horizontal .form-group {
    margin: 0;
}
.form-control, .form-group .form-control {
    border: 1px solid #CCC;
    border-radius: 2px;
    padding: 6px 12px;
}
.form-group label.control-label {
    font-size: .9em;
    font-weight: 800;
}
.form-group.is-focused .form-control {
    background-image: linear-gradient(#e91e63, #e91e63), linear-gradient(#D2D2D2, #D2D2D2)
}
.form-group.is-focused label, .form-group.is-focused label.control-label {
    color: #e91e63;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check {
    background: #e91e63;
    border-color: #e91e63;
    border-radius: 2px;
}
.radio input[type=radio]:checked ~ .check {
    background-color: #e91e63;
}
.radio input[type=radio]:checked ~ .circle {
    border-color: #e91e63;
}
.radio label {
    padding-left: 25px;
}
.radio label span {
    left: 0;
}
.form-horizontal .radio {
    margin-bottom: 0;
}
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:active:focus {
    background-color: #67d967;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */
.hidden {
    display: none !important;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   http://tympanus.net/Blueprints/OnScrollEffectLayout/
   ========================================================================== */
.cbp-so-scroller {
    margin-top: 6em;
}

.cbp-so-section {
    /*margin-bottom: 15em;*/
    position: relative;
}

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
    content: " ";
    display: table;
}

.cbp-so-section:after {
    clear: both;
}

/* Text styling */
.cbp-so-section h2 {
    font-size: 6em;
    font-weight: 300;
    line-height: 1;
    margin: .25em 0;
}

.cbp-so-section p {
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1;
}

/* Sides */
.cbp-so-side {
    width: 50%;
    float: left;
    margin: 0;
    padding: 3em 4%;
    overflow: hidden;
    min-height: 12em;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
    content: " ";
    display: table;
}

.cbp-so-side:after {
    clear: both;
}

.cbp-so-side-right {
    text-align: left;
}

.cbp-so-side-left {
    text-align: right;
}

.cbp-so-side img {
    max-width: 120%;
}

.cbp-so-side-right img {
    float: left;
}

.cbp-so-side-left img {
    float: right;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
    opacity: 0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.cbp-so-init .cbp-so-side-left {
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

/* For example, add a delay for the right side:
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
*/

@media screen and (max-width: 73.5em) {
    .cbp-so-scroller {
        font-size: 65%;
    }

    .cbp-so-section h2 {
        margin: 0;
    }

    .cbp-so-side img {
        max-width: 120%;
    }
}

@media screen and (max-width: 41.125em) {
    .cbp-so-side {
        float: none;
        width: 100%;
    }

    .cbp-so-side img {
        max-width: 100%;
    }
}

/* Section separators */
#stamp {
    background-color: #e5f8e5;
}
#stamp path {
    fill: #FFFFFF;
    stroke: #FFFFFF; /* avoid gap in FF */
}
.ss-style-doublediagonal {
    z-index: 1;
    position: relative;
    padding: 4em 0;
    margin-bottom: -3em;
}
.ss-style-doublediagonal.color {
    background-color: #e5f8e5;
    padding: 4em 0;

}
.ss-style-doublediagonal::before,
.ss-style-doublediagonal::after {
    position: absolute;
    content: '';
    pointer-events: none;
    top: 0;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 75%;
    background: #FFF;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.ss-style-doublediagonal.color::after {
    background-color: #e5f8e5;
}
.ss-style-doublediagonal::before {
    height: 50%;
    background: #b6edb6;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
}

/* Columns */
.column {
    display: inline-block;
    vertical-align: top;
}
.col-3 .column {
    padding: 0 1%;
    width: 33%;
    text-align: center;
}
.col-3 .column h3 {
    padding: 20px;
    font-size: 4em;
    line-height: 1;
}
.col-3 .column p {
    padding: 0 20px;
    font-size: 2em;
    line-height: 1;
}
.icon {
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: #b6edb6;
    color: #fff;
    text-align: center;
    font-size: 8em;
    line-height: 2em;
    margin: 0 auto;
}
@media screen and (max-width: 54em) {
    .column {
        display: block;
        width: 100% !important;
    }
    .icon {
        margin: 0 auto;
    }
}
